body {
    background-color: #d3ebef;
    font-family: 'Lora', serif;
  }

  h1 {
    text-align: center;
  }

  #butterfly {
    position: absolute;
    position: sticky;
    top: 100px;
    left: 580px;
    width: 100px;
    height: auto; /* mantiene aspect ratio */
  }